<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.naftarozklad">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<application
		android:name=".RozkladApp"
		android:allowBackup="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:ignore="GoogleAppIndexingWarning">

		<meta-data
			android:name="firebase_crashlytics_collection_enabled"
			android:value="@bool/firebase_enabled" />
		<meta-data
			android:name="firebase_analytics_collection_enabled"
			android:value="@bool/firebase_enabled" />

		<activity
			android:name=".views.activities.ScheduleActivity"
			android:launchMode="singleTop"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".views.activities.GroupsActivity"
			android:label="@string/lbl_select_group_"
			android:screenOrientation="portrait" />

		<activity
			android:name=".views.activities.SettingsActivity"
			android:label="@string/lbl_settings"
			android:parentActivityName=".views.activities.ScheduleActivity"
			android:screenOrientation="portrait" />

	</application>

</manifest>